* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background: #222833;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #222831;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.39) 0px 1px 1px 0px inset,
    rgba(50, 79, 93, 0.452) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.452) 0px 30px 60px -30px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #47f7bc63;
  background: transparent;
  font-size: 20px;
  color: #f0f8ff;
  cursor: pointer;
  margin: 10px;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
}

form input.symbols {
  color: #ff8c00;
}

.brand {
  font-family: papyrus;
  color: #ff8c00;
}
